Repository filobot/translate, pull requests merged in 2023-12, with the labels that each got.

#270 Add the `German` as a supported language
  manifest.json
Labels: website

#271 Add the `German` as a supported language
  manifest.json
Labels: api

#269 Add the `German` as a supported language
  manifest.json
Labels: filo

#273 New Crowdin updates
  tr-TR.md
Labels: app directory
