Repository filobot/translate, pull requests merged in 2023-09, with the labels that each got.

#266 New Crowdin updates
  de-DE.md
Labels: app directory

#265 New Crowdin updates
  de-DE/errors.json
  de-DE/general.json
Labels: api

#267 New Crowdin updates
  de-DE/translations.json
Labels: website

#260 Add the `Chinese Simplified` as a supported language
  manifest.json
Labels: website

#258 Add the `Chinese Simplified` as a supported language
  manifest.json
Labels: filo
