Repository filobot/translate, pull requests merged in 2023-06, with the labels that each got.

#234 Reports Module V2
  en-US/button-labels.json
  en-US/context-menus.json
  en-US/core/config.json
  en-US/core/setup.json
  en-US/discord-commands/context-menus/message/report-this-message.json
  en-US/discord-commands/context-menus/user/report-this-member.json
  en-US/discord-commands/slash-commands/report.json
  en-US/errors.json
  en-US/general.json
  en-US/logging.json
  en-US/message.json
  en-US/moderation.json
  en-US/permissions.json
  en-US/server/report.json
Labels: filo

#241 New Crowdin updates
  es-ES/errors.json
  es-ES/general.json
Labels: api

#238 New Crowdin updates
  fr-FR/translations.json
Labels: website

#242 New Crowdin updates
  ca-ES/errors.json
  ca-ES/general.json
  fr-FR/errors.json
  fr-FR/general.json
  ja-JP/errors.json
  ja-JP/general.json
  zh-CN/errors.json
  zh-CN/general.json
Labels: api

#243 New Crowdin updates
  es-ES.md
  ja-JP.md
Labels: app directory
