Repository filobot/translate, pull requests merged in 2023-08, with the labels that each got.

#252 New Crowdin updates
  ca-ES/button-labels.json
  ca-ES/context-menus.json
  ca-ES/discord-commands/slash-commands/lyrics.json
  ca-ES/general.json
  ca-ES/logging.json
  ca-ES/miscellaneous/lyrics.json
  ca-ES/moderation.json
  es-ES/context-menus.json
  es-ES/logging.json
  es-ES/moderation.json
  fr-FR/context-menus.json
  fr-FR/logging.json
  fr-FR/moderation.json
  ja-JP/button-labels.json
  ja-JP/context-menus.json
  ja-JP/discord-commands/slash-commands/lyrics.json
  ja-JP/general.json
  ja-JP/logging.json
  ja-JP/miscellaneous/lyrics.json
  ja-JP/moderation.json
  vi-VN/context-menus.json
  vi-VN/logging.json
  vi-VN/moderation.json
  zh-CN/administration/nickname.json
  zh-CN/administration/role.json
  zh-CN/anime/anime.json
  zh-CN/anime/manga.json
  zh-CN/announcements.json
  zh-CN/audit-logs.json
  zh-CN/blacklist.json
  zh-CN/button-labels.json
  zh-CN/channel.json
  zh-CN/context-menus.json
  zh-CN/core/cluster.json
  zh-CN/core/commands.json
  zh-CN/core/setup.json
  zh-CN/discord-commands/context-menus/message/manage-this-message.json
  zh-CN/discord-commands/context-menus/user/miscellaneous-actions.json
  zh-CN/discord-commands/slash-commands/tempban.json
  zh-CN/errors.json
  zh-CN/game-statistics.json
  zh-CN/general.json
  zh-CN/guild.json
  zh-CN/invite.json
  zh-CN/logging.json
  zh-CN/member.json
  zh-CN/message.json
  zh-CN/moderation.json
  zh-CN/role.json
  zh-CN/stage.json
  zh-CN/time.json
Labels: filo

#254 New Crowdin updates
  ca-ES/translations.json
  es-ES/translations.json
  fr-FR/translations.json
  ja-JP/translations.json
  vi-VN/translations.json
  zh-CN/translations.json
  zh-TW/translations.json
Labels: website

#257 New Crowdin updates
  ca-ES/errors.json
  fr-FR/errors.json
Labels: api

#255 New Crowdin updates
  ca-ES/translations.json
  es-ES/translations.json
  fr-FR/translations.json
  ja-JP/translations.json
Labels: website

#262 New Crowdin updates
  zh-CN/translations.json
Labels: website

#259 New Crowdin updates
  zh-CN.md
Labels: app directory

#261 Add the missing languages
  manifest.json
Labels: api
