Repository filobot/translate, pull requests merged in 2023-04, with the labels that each got.

#216 Website update
  en-US/translations.json
Labels: website

#218 Add `Japanese` as a supported language
  manifest.json
Labels: website, blocked

#215 Add `Japanese` as a supported language
  manifest.json
Labels: filo

#220 Add `Català` as a supported language
  manifest.json
Labels: filo

#224 New Crowdin updates
  ca-ES.md
  fr-FR.md
  ja-JP.md
Labels: app directory

#228 Add `Français` as a supported language
  manifest.json
Labels: website

#229 Add `Français` as a supported language
  manifest.json
Labels: filo

#226 New Crowdin updates
  fr-FR/translations.json
Labels: website
