Repository filobot/translate, pull requests merged in 2024-08, with the labels that each got.

#283 Translations update for Website
  ca-ES/translations.json
  vi/translations.json
Labels: website

#268 Auto Moderation V2
  en-US/audit-logs.json
  en-US/core/setup.json
  en-US/errors.json
  en-US/general.json
  en-US/guild.json
  en-US/member.json
Labels: filo

#282 Translations update for Filo
  ca-ES/audit-logs.json
  ca-ES/errors.json
  ca-ES/general.json
  ca-ES/guild.json
  ca-ES/member.json
  de-DE/audit-logs.json
  de-DE/errors.json
  de-DE/general.json
  de-DE/guild.json
  de-DE/member.json
  es-ES/audit-logs.json
  es-ES/errors.json
  es-ES/general.json
  es-ES/guild.json
  es-ES/member.json
  fr-FR/audit-logs.json
  fr-FR/errors.json
  fr-FR/general.json
  fr-FR/guild.json
  fr-FR/member.json
  ja-JP/audit-logs.json
  ja-JP/errors.json
  ja-JP/general.json
  ja-JP/guild.json
  ja-JP/member.json
  ja-JP/moderation/history.json
  tr-TR/audit-logs.json
  tr-TR/errors.json
  tr-TR/general.json
  tr-TR/guild.json
  tr-TR/member.json
  vi-VN/audit-logs.json
  vi-VN/errors.json
  vi-VN/general.json
  vi-VN/guild.json
  vi-VN/member.json
  zh-CN/audit-logs.json
  zh-CN/errors.json
  zh-CN/general.json
  zh-CN/guild.json
  zh-CN/member.json
Labels: filo, blocked

#284 Translations update for Filo
  ca-ES/core/setup.json
  de-DE/audit-logs.json
  de-DE/core/setup.json
  de-DE/errors.json
  de-DE/general.json
  de-DE/guild.json
  de-DE/member.json
  es-ES/audit-logs.json
  es-ES/core/setup.json
  es-ES/errors.json
  es-ES/general.json
  es-ES/guild.json
  es-ES/member.json
  fr-FR/core/setup.json
  ja-JP/audit-logs.json
  ja-JP/button-labels.json
  ja-JP/core/setup.json
  ja-JP/errors.json
  ja-JP/game-statistics.json
  ja-JP/general.json
  ja-JP/guild.json
  ja-JP/member.json
  ja-JP/permissions.json
  ja-JP/role.json
  zh-CN/administration/channel.json
  zh-CN/audit-logs.json
  zh-CN/button-labels.json
  zh-CN/core/setup.json
  zh-CN/errors.json
  zh-CN/general.json
  zh-CN/guild.json
  zh-CN/member.json
  zh-CN/moderation/case.json
  zh-CN/role.json
Labels: filo
